@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div ng-controller="ContactsCtrl">
    <ul>
        <li ng-repeat="contact in contacts"></li>
    </ul>
</div>